body {
    background: linear-gradient(#8edbff, #b7e7ff);
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;       
}

.pokedex {
    width: 350px;
    background: #d62946;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 15px #0004;
    border: 4px solid #a31b33;

    display: flex;
    flex-direction: column;
    align-items: center;       
    gap: 15px;
}


.top-details {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: flex-start;
    padding-left: 5px;
}

.big-light {
    width: 55px;
    height: 55px;
    background: #3ee7ff;
    border: 6px solid white;
    border-radius: 50%;
    box-shadow: 0 0 15px #3ee7ff;
}

.small-lights {
    display: flex;
    gap: 7px;
}

.small-lights .light {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.red { background: #ff3b3b; }
.yellow { background: #ffd73b; }
.green { background: #74ff3b; }


.screen-box {
    background: #efefef;
    width: 90%;
    padding: 18px;
    border-radius: 12px;
    border: 3px solid #444;
    box-shadow: inset 0 0 6px #0004;
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 10px;
}

.screen {
    width: 100%;
    height: 160px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.screen img {
    width: 140px;
}

.poke-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


#search {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #444;
    font-size: 16px;
    background: #ffffff;
    box-shadow: inset 0 0 4px #0003;
}


.buttons {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #f6e27b;
    background: #2e2e2e;
    border: 3px solid #4c4c4c;
    border-radius: 10px;
    box-shadow:
        inset 0 0 5px #0008,
        0 4px 0 #202020;
    cursor: pointer;
    transition: 0.15s;
}

button:hover {
    background: #1b1b1b;
}

button:active {
    transform: translateY(2px);
    box-shadow:
        inset 0 0 8px #000,
        0 2px 0 #202020;
}

    

